body{
  padding: 0px;
  background-image: linear-gradient(to bottom right, red, yellow, blue, orange);
  height: auto;
  background-attachment: fixed;
  background-size: cover;
}
.title {
	color: rgb(0,0,0);
	text-align: center;
}

#navbar a:not(:last-child) {
    color: blue;
    border-right: solid;
    border-right-color: rgb(0,0,0);
    text-decoration: none;
    font-size: 30px;
    margin: 0px
    height: 100%;
    padding-left: 5px;
    position: relative;
    
}

#navbar a:last-child {
    color: blue;
    text-decoration: none;
    font-size: 30px;
    height: 100%;
    position: relative;
}

#navbar a:hover {
  
  background-color: grey;
}

#navbar  {
    background-color: white;
    border-style: solid;
    width: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 37%;
    margin-left: 32.5%;
    margin-right: 32.5%;
    position: sticky;
	align-items:center;
}